/* General header styles */
.header .menu-toggle {
    display: none;  /* Hide menu toggle by default */
}

.header nav {
    position: fixed;
    top: 0;
    left: 0; /* Align to the left edge */
    width: 100%; /* Full width */
    height: 100vh;
    background: #0f0f0f;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease-out; /* Ensure smooth transition for transform */
    z-index: 1000;
    transform: translateX(-100%); /* Start off-screen to the left */
}

.header nav.visible {
    transform: translateX(0%); /* Slide in */
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s ease, opacity 0.3s ease-in; /* Ensure smooth transition for transform and opacity */
}

@media (max-width: 500px) {
    .header .menu-toggle {
        display: block;  /* Show toggle button in mobile view */
        cursor: pointer; /* Indicates it's clickable */
        position: fixed; /* Ensure it's fixed to stay in place during scrolling */
        bottom: 20px; /* Position from the bottom of the viewport */
        right: 20px; /* Position from the right of the viewport */
        z-index: 1001; /* Ensure it is above other content */
    }

    .navigation ul {
        display: flex;
        flex-direction: column; /* Vertical layout for mobile */
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically within the navigation */
        height: 100%;
    }

    .navigation li {
        margin-bottom: 20px; /* Space out the links vertically */
        width: 100%; /* Full width links for easier touch */
    }
}

/* Desktop styles reset */
@media (min-width: 501px) {
    .header .menu-toggle {
        display: none; /* Ensure toggle button is hidden on desktop */
    }

    .header nav {
        position: relative; /* Normal flow within the document */
        width: auto; /* Adjust width to content */
        height: auto; /* Adjust height to content */
        background: transparent; /* Clear any background */
        transform: none; /* No transformation */
        display: flex; /* Flex layout for desktop navigation */
        opacity: 1; /* Fully visible */
        visibility: visible; /* Always visible */
    }

    .navigation ul {
        flex-direction: row; /* Horizontal layout */
        align-items: center; /* Align items vertically */
        justify-content: center; /* Center items horizontally */
    }

    .navigation li {
        margin: 0 10px; /* Horizontal spacing */
    }
}