.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0f0f0f; /* Even darker background for a sleek look */
    color: white; /* Ensure text color is white for all header content */
}

.logo a {
    text-decoration: none;
    color: #ff4654; /* Strong red, typical for Valorant */
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navigation li {
    margin: 0 10px;
}

.navigation button {
    background: none;
    border: 2px solid #ff4654; /* Add a border to emphasize the button with Valorant red */
    color: #ffffff; /* White text color for contrast */
    font-size: 1rem;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
    outline: none;
}

.navigation button:hover, .navigation button:focus {
    background-color: #ff4654; /* Red background on hover/focus for a vivid effect */
    color: #0f0f0f; /* Dark text for contrast */
}

.navigation button:active {
    transform: translateY(2px); /* Subtle button press effect */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

/* Optional: Responsive adjustments for mobile views */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .navigation ul {
        flex-direction: column;
        width: 100%;
    }
    .navigation li {
        width: 100%;
        text-align: center;
    }
}