.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  /* Ensures it takes up at least the full height of the viewport */
    background: linear-gradient(135deg, #1a202c 0%, #2d3748 100%); /* Refined dark gradient background */
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.login-button {
    width: 90%;  /* Makes the button responsive */
    max-width: 350px;  /* Limits the button width on larger screens */
    padding: 15px;  /* Comfortable padding for easy clickability */
    margin-top: 20px;  /* Provides space above the button if anything is added above later */
    background-color: #ff6347; /* Vibrant, attention-grabbing color */
    color: white;
    border: none;
    border-radius: 10px;  /* Rounded corners for a modern look */
    cursor: pointer;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5); /* Shadow for 3D effect, enhancing visual appeal */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for interactive effects */
}

.login-button:hover {
    background-color: #ff2e2e; /* Slightly brighter on hover for visual feedback */
    transform: translateY(-3px); /* Subtle lift effect */
}

.login-button:active {
    transform: translateY(1px); /* Mimics a button press */
    background-color: #e62600; /* Deeper color for pressed state */
}