.App {
  text-align: center;
  background-color: #0f1923;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #161b22;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #fd4455;
  text-decoration: none;
  font-weight: bold;
}


button {
  background-color: #fd4455;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff5768;
}

input[type="text"] {
  border: 2px solid #fd4455;
  border-radius: 4px;
  padding: 10px;
  color: white;
  background-color: transparent;
  margin-right: 10px;
}

input[type="text"]::placeholder {
  color: #ddd;
}