/* Base Layout */
body, html {
  margin: 0;
  padding: 0;
  background-color: #0f1923;
  color: #ffffff;
  overflow-x: hidden !important; /* Prevent horizontal scrolling */
  overflow-y: auto !important; /* Enable vertical scrolling, enforce with !important */
  height: 100%; /* Full viewport height */
  scroll-behavior: smooth !important; /* Smooth scrolling, enforce with !important */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #161b22;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* Typography */
h1, p {
  margin: 10px 0;
}

.App-link {
  color: #fd4455;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 500px) {
  .home-content {
    min-height: calc(100vh - 60px); /* Adjusted for header/footer */
  }
}