/* Base Layout */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0f1923;
  color: #ffffff;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #161b22;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* Typography */
h1, p {
  margin: 10px 0;
}

.App-link {
  color: #fd4455;
  text-decoration: none;
  font-weight: bold;
}

/* Form Elements */
input[type="text"], button {
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #fd4455;
  background: transparent;
  color: #fff;
  outline: none; /* Removes default focus outline */
}

input[type="text"] {
  margin-right: 10px;
}

input[type="text"]::placeholder {
  color: #ddd;
}

input[type="text"]:focus {
  border-color: #ff5768; /* Changes border color on focus */
  box-shadow: 0 0 8px #fd4455; /* Adds a glow effect to highlight focus */
}

button {
  background-color: #fd4455;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px black; /* Adds depth to the button */
  position: relative; /* Required for the press-down effect */
}

button:hover {
  background-color: #ff5768;
  transform: translateY(-2px); /* Lift effect */
  box-shadow: 0 6px black; /* Increases shadow to emphasize the lift */
}

button:active {
  transform: translateY(1px); /* Mimics a press-down effect */
  box-shadow: 0 2px #bb2e3f; /* Reduces shadow to give a feeling of being pressed */
}

/* Misc - Enhancements and subtle animations */
.App-logo {
  height: 40vmin;
  animation: logo-fade-in 2s ease-in-out forwards;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@keyframes logo-fade-in {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}